tmp
build
docs/examples/systems
tests/test
workflows/systems
workflows/png
docs/source/auto_examples
docs/source/sg_execution_times.rst
*data*
*slurm*
custom_config.py
.cache
.pytest_cache
__pycache__
.metadata
.DS_Store
*.err
*.out
*.pdf
*.egg*
*.ndx
*.npz
*.npy
*.xyz
*.tmp
*.pyc
*.o
*.cprof
*.h5
*.hdf5
*.pkl
.nfs*
*.c
.*.csv
*.swp
*.dSYM
*.so
*.tar.gz
*.md5
.idea
*.out
*.pyf
*.mod
*~
.adxv*
*.aux
*.bbl
*.log
*.blg
*.synctex.*
*.dat
!*atommass.dat
*.xtc
*.trr
*.lock
*mycmath.c
*test.itp
dev.yml
